.title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.dyeList {
  padding-inline: 3.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dyeList label {
  width: _;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.dyeList label span {
  width: 50%;
  text-align: center;
  letter-spacing: 3px;
}
.dyeList label .textInput {
  margin-block: 10px;
  width: 100%;
}
.dyeList label span {
  letter-spacing: 2px;
  text-align: justify;
}

.process {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 3.5%;
}
.process label {
  width: _;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.process label span {
  width: 25%;
  text-align: center;
  letter-spacing: 3px;
}
.process label .textInput {
  margin-block: 10px;
  width: 100%;
}
.process label .selecetInput {
  flex-grow: 0.8;
  border: 1px solid grey;
}
.process label .selecetInput span {
  color: white;
  letter-spacing: 1px;
  width: 75px;
  text-align: center;
}
.process label span {
  text-align: justify;
  letter-spacing: 1px;
}

.finalCost {
  padding-inline: 3.5%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.finalCost label {
  width: _;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.finalCost label span {
  width: 65%;
  text-align: center;
  letter-spacing: 3px;
}
.finalCost label .textInput {
  margin-block: 10px;
  width: 100%;
}
.finalCost label span {
  letter-spacing: 2px;
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .dyeList {
    padding: 5px;
  }
  .dyeList label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .dyeList label span {
    width: 80%;
    text-align: center;
    letter-spacing: 3px;
  }
  .dyeList label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .dyeList label span {
    text-align: center;
    letter-spacing: 0px;
    font-size: 15px;
  }
  .finalCost {
    padding: 5px;
    margin-bottom: 20px;
  }
  .finalCost label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .finalCost label span {
    width: 65%;
    text-align: center;
    letter-spacing: 3px;
  }
  .finalCost label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .finalCost label span {
    text-align: center;
    letter-spacing: 0px;
  }
  .process {
    padding: 5px;
    flex-direction: column;
  }
  .process label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .process label span {
    width: 18%;
    text-align: center;
    letter-spacing: 3px;
  }
  .process label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .process label {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .finalCost label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .finalCost label span {
    width: 85%;
    text-align: center;
    letter-spacing: 3px;
  }
  .finalCost label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .finalCost label span {
    text-align: center;
    letter-spacing: 0px;
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  .dyeList {
    flex-direction: column;
  }
  .dyeList label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .dyeList label span {
    width: 40%;
    text-align: center;
    letter-spacing: 3px;
  }
  .dyeList label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .dyeList label span {
    text-align: justify;
    letter-spacing: 0;
  }
  .finalCost {
    flex-direction: column;
  }
  .finalCost label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .finalCost label span {
    width: 45%;
    text-align: center;
    letter-spacing: 3px;
  }
  .finalCost label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .finalCost label span {
    text-align: justify;
    letter-spacing: 0;
  }
  .process label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .process label span {
    width: 30%;
    text-align: center;
    letter-spacing: 3px;
  }
  .process label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .process label .selecetInput span {
    font-size: 12px;
    width: 40px;
    padding: 0;
  }
  .process label span {
    text-align: justify;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 390px) {
  .finalCost label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .finalCost label span {
    width: 55%;
    text-align: center;
    letter-spacing: 3px;
  }
  .finalCost label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .finalCost label span {
    text-align: justify;
    letter-spacing: 0;
    font-size: 14.5px;
  }
  .process label {
    width: _;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .process label span {
    width: 45%;
    text-align: center;
    letter-spacing: 3px;
  }
  .process label .textInput {
    margin-block: 10px;
    width: 100%;
  }
  .process label span {
    text-align: justify;
    letter-spacing: 0;
    font-size: 14.5px;
  }
}/*# sourceMappingURL=dyeMethod.module.css.map */