@mixin labelSizeInput($labelWidth: 100%, $spanWidth: 30%) {
  label {
    width: $labelWidth;
    display: flex;
    align-items: center;
    flex-grow: 1;
    span {
      width: $spanWidth;
      text-align: center;
      letter-spacing: 3px;
    }
    .textInput {
      margin-block: 10px;
      width: 100%;
    }
  }
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  .productInfo {
    margin-bottom: 10px;
    .twoinRow {
      @include flexRow;
      @include labelSizeInput;
    }
  }
  .productDescription {
    @include labelSizeInput(_, 12.5%);
  }
  .productSpec {
    .threeinRow {
      @include flexRow;
      @include labelSizeInput(_, 50%);
    }
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 3px;
    // border: 1px solid #000;
    .productInfo {
      .twoinRow {
        @include labelSizeInput(_, 35%);
        label {
          span {
            letter-spacing: 1px;
          }
        }
      }
    }
    .productDescription {
      @include labelSizeInput(_, 15%);
      label {
        span {
          letter-spacing: 1px;
        }
      }
    }
    .productSpec {
      .threeinRow {
        @include labelSizeInput(_, 65%);
        label {
          span {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 5px;
    .productInfo {
      .twoinRow {
        flex-direction: column;
        @include labelSizeInput(_, 30%);
      }
    }
    .productDescription {
      @include labelSizeInput(_, 30%);
    }
    .productSpec {
      .threeinRow {
        flex-direction: column;
        @include labelSizeInput(_, 30%);
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .container {
    .productInfo {
      .twoinRow {
        @include labelSizeInput(_, 28%);
        label {
          span {
            letter-spacing: 0.5px;
          }
        }
      }
    }
    .productDescription {
      @include labelSizeInput(_, 28%);
      label {
        span {
          letter-spacing: 0.5px;
        }
      }
    }
    .productSpec {
      .threeinRow {
        @include labelSizeInput(_, 28%);
        label {
          span {
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}
