@mixin labelSizeInput(
  $height: 40px,
  $fontSize: 18px,
  $inputWidth: 100%,
  $spanWidth: 100px
) {
  label {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: $height;
    margin: 10px auto;
    padding-inline: 5px;
    span {
      display: block;
      width: 100px;
      // width: $spanWidth;
      // text-align: start;
      // line-height: $height;
      // font-size: $fontSize;
    }
    .textInput {
      width: 100%;
    }
    input {
      // display: block;
      // width: $inputWidth;
      // border-radius: 5px;
      // height: 100%;
      // border: none;
      // padding-inline: 10px;
      // font-size: $fontSize;
      // box-shadow: 0px 0px 3px grey;
    }
  }
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container {
  display: flex;
  justify-content: space-evenly;
  .flexBox {
    // display: flex;
    // justify-content: space-between;
    flex-grow: 1;
    .title {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
    .box {
      display: flex;
      justify-content: space-evenly;

      .cost,
      .profit {
        @include labelSizeInput(
          $height: 30px,
          $inputWidth: 80%,
          $fontSize: 16px,
          $spanWidth: 80px
        );
      }
    }
  }
  .profit1 {
    .title {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
    @include labelSizeInput($height: 30px, $inputWidth: 80%, $fontSize: 16px);
  }
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    .flexBox {
      .box {
        .cost,
        .profit {
          @include labelSizeInput(
            $height: 30px,
            $inputWidth: 60%,
            $fontSize: 16px,
            $spanWidth: 40%
          );
          label {
            span {
              text-align: center;
            }
          }
        }
      }
    }
    .box {
      .profit1 {
        label {
          span {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    .flexBox {
      .box {
        flex-direction: column;
        .cost,
        .profit {
          @include labelSizeInput(
            $height: 30px,
            $inputWidth: 80%,
            $fontSize: 16px,
            $spanWidth: 20%
          );
          label {
            span {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .container {
    .flexBox {
      .box {
        flex-direction: column;
        .cost,
        .profit {
          @include labelSizeInput(
            $height: 30px,
            $inputWidth: 70%,
            $fontSize: 16px,
            $spanWidth: 30%
          );
          label {
            span {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
