.container {
  display: flex;
  justify-content: space-evenly;
}
.container .flexBox {
  flex-grow: 1;
}
.container .flexBox .title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.container .flexBox .box {
  display: flex;
  justify-content: space-evenly;
}
.container .flexBox .box .cost label,
.container .flexBox .box .profit label {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin: 10px auto;
  padding-inline: 5px;
}
.container .flexBox .box .cost label span,
.container .flexBox .box .profit label span {
  display: block;
  width: 100px;
}
.container .flexBox .box .cost label .textInput,
.container .flexBox .box .profit label .textInput {
  width: 100%;
}
.container .profit1 .title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.container .profit1 label {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin: 10px auto;
  padding-inline: 5px;
}
.container .profit1 label span {
  display: block;
  width: 100px;
}
.container .profit1 label .textInput {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .container .flexBox .box .cost label,
  .container .flexBox .box .profit label {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 10px auto;
    padding-inline: 5px;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    display: block;
    width: 100px;
  }
  .container .flexBox .box .cost label .textInput,
  .container .flexBox .box .profit label .textInput {
    width: 100%;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    text-align: center;
  }
  .container .box .profit1 label span {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .container .flexBox .box {
    flex-direction: column;
  }
  .container .flexBox .box .cost label,
  .container .flexBox .box .profit label {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 10px auto;
    padding-inline: 5px;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    display: block;
    width: 100px;
  }
  .container .flexBox .box .cost label .textInput,
  .container .flexBox .box .profit label .textInput {
    width: 100%;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .container .flexBox .box {
    flex-direction: column;
  }
  .container .flexBox .box .cost label,
  .container .flexBox .box .profit label {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 10px auto;
    padding-inline: 5px;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    display: block;
    width: 100px;
  }
  .container .flexBox .box .cost label .textInput,
  .container .flexBox .box .profit label .textInput {
    width: 100%;
  }
  .container .flexBox .box .cost label span,
  .container .flexBox .box .profit label span {
    text-align: center;
  }
}/*# sourceMappingURL=quotationDetail.module.css.map */