@mixin Button($padding: 5px, $height: 30px) {
  min-width: 30px;
  height: $height;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px black;
  transition: 0.2s linear;
  margin: 2px;
  padding: $padding;
  cursor: pointer;
  &:hover {
    background-color: grey;
    color: white;
  }
}
@mixin labelSizeInput(
  $height: 40px,
  $fontSize: 18px,
  $inputWidth: 100%,
  $spanWidth: 100px
) {
  label {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    height: $height;
    margin: 10px auto;
    padding-inline: 5px;
    span {
      display: block;
      width: $spanWidth;
      text-align: start;
      line-height: $height;
      font-size: $fontSize;
    }
    .textInput {
      width: 100%;
    }
    input {
      // display: block;
      // width: $inputWidth;
      // border-radius: 5px;
      // height: 100%;
      // border: none;
      // padding-inline: 10px;
      // font-size: $fontSize;
      // box-shadow: 0px 0px 3px grey;
    }
  }
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.controlButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  .title {
    flex-grow: 1;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
  }
  button {
    @include Button;
  }
}
.yarnListRWD {
  display: none;
}
.table {
  padding-top: 10px;

  border-collapse: collapse;
  thead {
    th {
      text-align: center;
      &[name='yarnNo'] {
        width: 5%;
      }
      &[name='yarnSpec'] {
        width: 30%;
      }
      &[name='yarnPort'] {
        width: 10%;
      }
      &[name='yarnSource'] {
        width: 25%;
      }
      &[name='yarnPrice'] {
        width: 12%;
      }
      &[name='controls'] {
        width: 8%;
      }
      &[name='singleYarnCost'] {
        width: 10%;
      }
    }
  }
  tbody {
    .trStyle {
      cursor: pointer;
      transition: 0.1s linear;
      td {
        height: 50px;
        text-align: center;
        border: none;
        &[name='yarnPrice'] {
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: center;
          .price {
            width: 50%;
            text-align: center;
          }
          .unit {
            font-size: 14px;
          }
          .price,
          .unit {
            display: block;
          }
        }
        .textInput {
          width: 95%;
          // height: 100%;
          background-color: white;
          border: 0;
          outline: 0;
        }
      }
      &:hover {
        // background-color: grey;
      }
    }
  }
  tfoot {
    tr {
      height: 40px;
      td {
        text-align: center;
      }
    }
  }
}
.machineInfo {
  @include flexRow;
  @include labelSizeInput(
    $height: 30px,
    $fontSize: 16px,
    $inputWidth: 80%,
    $spanWidth: 100px
  );
  select {
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding-inline: 10px;
  }
}
.yarnCost {
  @include flexRow;
  @include labelSizeInput(
    $height: 30px,
    $fontSize: 16px,
    $inputWidth: 80%,
    $spanWidth: 100px
  );
  select {
    border: none;
    border-radius: 5px;
    height: 100%;
    padding-inline: 10px;
  }
}
.additonal {
  @include flexRow;
  @include labelSizeInput($fontSize: 16px);
  height: 120px;
  label {
    width: 100%;

    select {
      height: 100px;
      border: none;
      width: 180px;
      border-radius: 10px;
      box-shadow: 0px 0px 3px grey;
      option {
        font-size: 16px;
        padding-inline: 10px;
        letter-spacing: 1px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .table {
    thead {
      tr > th {
        font-size: 14px;
      }
    }
  }
  .machineInfo,
  .yarnCost,
  .additonal {
    @include labelSizeInput(40px, 18px, 80%, 20%);
    flex-direction: column;
    label {
      width: 100%;
      span {
        text-align: center;
        font-size: 16px;
      }
      select {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .table {
    tbody {
      .trStyle {
        td {
          &[name='yarnPrice'] {
            justify-content: space-between;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .table {
    display: none;
  }
  .yarnListRWD {
    display: table;
    border-spacing: 1px;
    padding-top: 5px;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    thead {
      background-color: darkgray;
      tr > td {
        font-size: 700;
      }
    }
    .trStyle {
      border: none;
      outline: none;
      cursor: pointer;
      td {
        border: none; /* 取消單元格邊框 */
      }
      tr > td {
        font-size: 14px;
      }
      .divider {
        background-color: darkgray;
        height: 1px;
      }
      &:hover {
        background-color: grey;
      }
    }
    tfoot {
      // background-color: ;
    }
  }
  .machineInfo,
  .yarnCost,
  .additonal {
    @include labelSizeInput(40px, 18px, 78%, 22%);
    flex-direction: column;
    label {
      width: 100%;
      span {
        text-align: center;
        font-size: 16px;
      }
      select {
        width: 78%;
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .machineInfo,
  .yarnCost,
  .additonal {
    @include labelSizeInput(40px, 18px, 70%, 30%);
    label {
      span {
        text-align: center;
        font-size: 16px;
      }
      select {
        width: 70%;
      }
    }
  }
}
