@mixin labelSizeInput($labelWidth: 100%, $spanWidth: 30%) {
  label {
    width: $labelWidth;
    display: flex;
    align-items: center;
    flex-grow: 1;

    .viewDataText {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: lighten(grey, 20%);
      border-radius: 10px;
      padding-left: 15px;
    }

    span {
      width: $spanWidth;
      text-align: center;
      letter-spacing: 2px;
    }
    .textInput {
      margin-block: 10px;
      width: 100%;
    }
  }
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.controlButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  span {
    font-weight: 500;
    font-size: 12px;
  }
  .title {
    flex-grow: 1;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
  }
  .buttons {
    display: flex;
    align-items: center;

    button {
      // @include Button;
    }
  }
}
.yarnListRWD {
  display: none;
}
.table {
  padding-top: 10px;
  border-collapse: collapse;
  thead {
    th {
      text-align: center;
      &[name='yarnNo'] {
        width: 2%;
      }
      &[name='yarnSpec'] {
        width: 30%;
      }
      &[name='yarnPort'] {
        width: 10%;
      }
      &[name='yarnSource'] {
        width: 25%;
      }
      &[name='yarnPrice'] {
        width: 10%;
      }
      &[name='controls'] {
        width: 12%;
      }
      &[name='singleYarnCost'] {
        width: 8%;
      }
    }
  }
  tbody {
    position: relative;
    .trStyle {
      cursor: pointer;
      transition: 0.1s linear;
      td {
        height: 50px;
        text-align: center;
        border: none;

        &[name='yarnPrice'] {
          // display: flex;
          // justify-content: space-between;
          // text-align: center;
          align-items: center;
          .price {
            width: 50%;
            text-align: center;
          }
          .unit {
            font-size: 14px;
          }
          .price,
          .unit {
            display: block;
          }
        }
        &[name='controls'] {
          .icons {
            width: 100%;
            max-width: 20px;
            // border: 1px solid #000;
          }
        }
        .textInput {
          width: 90%;
          margin: 0 auto;

          // height: 100%;
          // background-color: white;
          border: 0;
          outline: 0;
        }
      }
      &:hover {
        background-color: grey;
      }
    }
    .yarnDetails {
      width: 100%;
      transition: 0.3s ease;
      border-top: 1px solid lighten(grey, 20%);
      transition: 0.2s linear;
      td {
        width: auto;
        text-align: center;
      }
    }
  }
  tfoot {
    tr {
      height: 40px;
      td {
        text-align: center;
      }
    }
  }
}
.title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.machineInfo {
  margin-bottom: 5px;
  @include flexRow;
  @include labelSizeInput(_, 50%);
  label {
    padding-inline: 3.8%;
    span {
      text-align: justify;
    }
  }
}
.yarnCost {
  margin-bottom: 10px;
  padding-inline: 3.5%;
  @include flexRow;
  @include labelSizeInput(_, 50%);

  label {
    span {
      text-align: justify;
      text-indent: 0px;
    }
  }
}
.additonal {
  margin-bottom: 10px;
  padding-inline: 3.5%;
  @include flexRow;
  @include labelSizeInput(_, 52.5%);
  label {
    span {
      text-align: justify;
      text-indent: 2px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .table {
    thead {
      tr > th {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .machineInfo {
    @include labelSizeInput($spanWidth: 55%);
    // display: flex;
    label {
      span {
        letter-spacing: 0px;
        text-align: justify;
      }
      .textInput {
        // width: 80%;
      }
    }
  }
  .table {
    thead {
      tr {
        th {
          font-weight: 500;
          font-size: 13px;
        }
      }
    }
  }
  .yarnCost {
    @include labelSizeInput($spanWidth: 70%);
    label {
      span {
        letter-spacing: 0px;
        text-align: justify;
        font-size: 15px;
      }
      .textInput {
        width: 80%;
      }
    }
  }
  .additonal {
    @include labelSizeInput($spanWidth: 45%);
    label {
      span {
        letter-spacing: 0px;
        text-align: justify;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .table {
    tbody {
      .trStyle {
        td {
          &[name='yarnPrice'] {
            justify-content: space-between;
          }
          &[name='singleYarnCost'] {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .table {
    display: none;
  }
  .yarnListRWD {
    display: table;
    border-spacing: 1px;
    padding-top: 5px;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    thead {
      background-color: darkgray;
      tr > td {
        font-size: 700;
      }
    }
    .trStyle {
      border: none;
      outline: none;
      cursor: pointer;
      td {
        border: none; /* 取消單元格邊框 */
      }
      tr > td {
        font-size: 14px;
      }
      .divider {
        background-color: darkgray;
        height: 1px;
      }
      &:hover {
        background-color: grey;
      }
    }
    tfoot {
      // background-color: ;
    }
  }
  .machineInfo,
  .yarnCost,
  .additonal {
    @include labelSizeInput($spanWidth: 30%);
    flex-direction: column;
    label {
      span {
        letter-spacing: 0px;
        text-align: justify;
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .machineInfo,
  .yarnCost,
  .additonal {
    @include labelSizeInput($spanWidth: 45%);
    label {
      span {
        letter-spacing: 0px;
        text-align: justify;
      }
    }
  }
}
