.container {
  background-color: darkgrey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 99;
  transition: 0.2s linear;
  box-shadow: 0px 0px 5px grey;
  .logoBar {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
      padding: 5px;
      .logoImg {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        margin: 5px 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../../public/image/works/websitelogo.png');
      }
      .logoText {
        padding: 5px;
        h3 {
          font-size: 28px;
        }
        h5 {
          font-size: 16px;
        }
      }
    }
  }
  &.fixedHeader {
    position: fixed;
    box-shadow: 0px 0px 20px grey;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    .logoBar {
      a {
        .logoImg {
          width: 70px;
          height: 70px;
        }
        .logoText {
          h3 {
            font-size: 24px;
          }
          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .logoBar {
      a {
        // width: 500px;
        .logoImg {
          width: 60px;
          height: 60px;
        }
        .logoText {
          h3 {
            font-size: 20px;
          }
          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .container {
    .logoBar {
      a {
        .logoText {
          h3 {
            font-size: 18px;
          }
          h5 {
            font-size: 14px;
          }
        }
        .logoImg {
          width: 50px;
          height: 50px;
          margin: 5px;
        }
      }
    }
  }
}
