.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  .container {
    margin: 0 auto;
    width: 80%;
    padding: 40px;
    flex: 1;
    .fabContainer {
      position: fixed;
      background-color: grey;
      width: 70px;
      height: 70px;
      bottom: 10%; /* 距離底部的距離，您可以調整這個值以滿足您的需求 */
      right: 5%; /* 距離右側的距離，您可以調整這個值以滿足您的需求 */
    }
  }
}

@media screen and (max-width: 1280px) {
  .body {
    .container {
      padding: 30px 10px;
      .title {
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .body {
    .container {
      width: 90%;
    }
  }
}
@media screen and (max-width: 768px) {
  .body {
    .container {
      .title {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .body {
    .container {
      width: 90%;
    }
  }
}
